ion-card{
    background: #E3F3FD;
}

ion-card-title{
    color:#000
}

ion-icon{
    font-size:30px;
}

.created_by{
    color:rgb(113,121,126);
    font-weight:500;
    font-size:17px;
}

.item-title{
    font-weight:700
}

.btns{
    float:right;
    margin-bottom:10px;
}