ion-card{
    background: #E3F3FD;
}

ion-card-title{
    color:#000
}

.c-item{
    color:black
}

#product-img{
    width: auto !important; 
    height: 300px !important;
    margin: 0 auto 1em auto;
  }