<ion-app>
  <ion-menu class="ion-menu" contentId="menu-content" menuId="menuUser" side="start" type="overlay">
    <ion-content class="page-background">
      <div class="center ion-padding" style="text-align: center;">
        <div class="im">
          <img src="assets/placeholder.jpg" style="border-radius: 100%;height: 80px;width:80px" tappable (click)="setPhoto()"
            onError="this.src='assets/placeholder.jpg'">
          <div class="icon">
            <img src="assets/photo-cameara.png" alt="">
          </div>
        </div>
    
      </div>
      <div class="content">
        <div class="all-menu" style="padding-top:20px">
          <div class="app-menus" menu-close>
            <div class="edit-icon2"><ion-icon name="grid-outline"></ion-icon></div>
            <div routerLink="/categories" (click)="onMenuClick()" class="item1">Category</div>
          </div>

          <div class="app-menus" menu-close>
            <div class="edit-icon2"><ion-icon name="film"></ion-icon></div>
            <div routerLink="/create-category" (click)="onMenuClick()" class="item1">New Category</div>
          </div>

          <div class="app-menus-2" menu-close>
            <div class="edit-icon2"><ion-icon name="arrow-undo-outline"></ion-icon></div>
            <div  (click)="logOut()" class="item1">Log Out</div>
          </div>
  
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
